.file-display {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.file-selected-grid.file-selected-list {
  background-color: rgb(55, 55, 55);
}

.file-selected-grid .icon-container {
  background-color: rgb(55, 55, 55);
}
.file-selected-grid .file-name {
  background-color: rgb(50, 89, 204);
}

.file-name {
  -webkit-appearance: none;
  border: none;
  appearance: none;
  margin: auto;
  outline: 2px solid rgb(75, 94, 194);
}

.file-name:read-only {
  outline: none;
}
